<mat-toolbar color="primary">
	<span><a routerLink="/">EDG</a></span>
	<span class="spacer"></span>
	<ul>
			<li>
				<a  mat-button routerLink="/create" routerLinkActive="mat-accent">New Post</a>
            </li>
            <li>
                <a  mat-button routerLink="/search" routerLinkActive="mat-accent">Search</a>
            </li>
            <li>
                <a  mat-button routerLink="/createPerson" routerLinkActive="mat-accent">New Person</a>
            </li>
            <li>
                <a  mat-button routerLink="/login" routerLinkActive="mat-accent">Logout</a>
            </li>


    </ul>

</mat-toolbar>
